.cards{
    margin: 0 auto;
    max-width: 1000px; 
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    gap: 50px;
    font-family: sans-serif;
}
.card{
    width: 290px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.623);
    border-radius: 6px;
}
.card__image{
    width: 100%;
    display: block;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
}
.card__content{
    line-height: 1.5;
    font-size: 0.9em;
    padding: 15px;
    background:#fafafa;
}

.card__content > p:first-of-type{
    margin-top: 0;
}
.card__content > p:last-of-type{
    margin-bottom: 0;
}
.card__info{
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #555555;
    background: #eeeeee;
    font-size: 0.8em;
    border-bottom: 2px solid #cccccc;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}
.card__info i{
    font-size: 0.9em;
    margin-right: 8px;
}  
.card__info i:hover{
    font-size: 1.2em;
    color: rgb(0, 47, 255);
}
.card__link{
    color: #64968c;
    text-decoration: none;
}
.card__link:hover{
    font-size: 13px;
    text-decoration: underline;
}